<%- include("partials/header.ejs"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="titleText" class="form-control">
  </div>
  <div class="form-group" id="newForm">
    <label for="postText">Post</label>
    <textarea class="form-control form_name" name="postText" id="postText" rows="5"></textarea>
  </div>
  <div class="form-group">
    <button type="sumbit" name="submit" class="btn btn-primary btn-md">Publish</button>
    </div>
</form>
<%- include("partials/footer.ejs"); -%>
