<% if (typeof errors!='undefined'){ %>
  <% errors.forEach((error)=> { %>
      <p class="alert alert-warning alert-dissmisable fade show" data-dismiss="alert"><%= error.msg -%><span class="close">&times;</span></p>
<%  }) %>
<% } %>


<% if(success_msg != '') { %>
  <p class="alert alert-success alert-dissmisable fade show" data-dismiss="alert"><%= success_msg -%><span class="close">&times;</span></p>
<% } %>
<% if(error_msg != '') { %>
  <p class="alert alert-warning alert-dissmisable fade show" data-dismiss="alert"><%= error_msg -%><span class="close">&times;</span></p>
<% } %>

<% if(error != '') { %>
  <p class="alert alert-warning alert-dissmisable fade show" data-dismiss="alert"><%= error -%><span class="close">&times;</span></p>
<% } %>
