body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
h1{
  margin: 0;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.top-container{
  background-color:#ccffbd;
  position: relative;
  padding-top: 60px;
}
.top-cloud{
  position: relative;
  left: 200px;
}
.bottom-cloud {
  position: absolute;
}
