body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
h1{
  font-size: 5.4em;
  margin: 0;
  color: #810000;
  text-align: center;
  font-family: 'Sacramento', cursive;
}
.programmer{
  font-weight: normal;
  line-height: 2;
}
h2{
  font-size: 2.8rem;
  color: #810000;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.top-container{
  background-color:#eeebdd;
  position: relative;
  padding-top: 60px;
}
.middle-container{
  background-color:#F4F9F9;
}
.top-cloud{
  position: relative;
  left: 200px;
}
.computer{
  margin-right: 15px;
  float: left;
  width: 25%;
}
.gaming{
  margin-right: 15px;
  float: left;
  width: 25%;
  text-align: center;
}
.profile img{
  padding-top:10px;
  height: 300px;
  width: 300px;
  border-radius: 300px;
}
.bottom-cloud {
  position: absolute;
}
.bottom-container a:link{
  color:#e48257;
}
.bottom-container a{
  color: #11999e;
  margin: 50px;
}
.bottom-container p{
  position: relative;
  top: 25px;
  color: white;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.btn{
  text-align: center;
  margin: 10px auto;
  padding: 20px;
  height:20px;
  width: 200px;
  border: 1px solid;
  border-radius: 4px;
  border-color: red;
}
.btn:hover{
  background-color: #ccffbd;
}
.btn a{
  color: #e48257;
  text-decoration: none;
}
.footer-link{
  text-decoration: none;
}
.bottom-container{
  background-color: #f5c0c0;
  padding: 50px;
}
