<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <h1><%= thisDay %> </h1>
     <ul>
       <li> Buy Groceries </li>
       <li> Cook Food </l1>
        <li> Eat Food </li>
        <form action="/" method = "POST">
           Add new Item
          <input type="text" name="newItem">
          <button type="submit">Submit</button>
        </form>
     </ul>
  </body>
</html>
