<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="box" id="heading">
    <h1><%= thisDay %> </h1>
  </div>
  <ul>
    <div class="box">
      <% for(var i=0; i<newAdd.length ; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p> <%= newAdd[i] %> </p>
      </div>
      <% } %>
      <form class="item" action="/" method="POST">
        <input type="text" name="newItem" placeholder="New Item" autocomple="off">
        <button type="submit">+</button>
      </form>
    </div>

  </ul>
</body>

</html>
