<%- include("partials/header.ejs"); -%>
<div class="createCourse">
  <form method="post">
      <div class="form-group">
        <input type="text" name="courseName" class="form-control-lg" placeholder="Enter Course Name"></input>
      </div>
      <button class="btn btn-lg btn-primary">Submit</button>
  </form>
</div>
<%- include("partials/footer.ejs"); -%>
