<%- include("partials/header.ejs"); -%>
<div class="createQuestion">
  <form method="post">
    <div class="form-group">
      <input class="form-control" name="question" placeholder="Enter The Question"></input>
      <input class="form-control" name="option1" placeholder="Enter option 1"></input>
      <input class="form-control" name="option2" placeholder="Enter option 2"></input>
      <input class="form-control" name="option3" placeholder="Enter option 3"></input>
      <input class="form-control" name="option4" placeholder="Enter option 4"></input>
      <input class="form-control" name="answer" placeholder="Enter Answer"></input>
      <input class="form-control" name="marks" placeholder="Enter Marks"><input>
    </div>
    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
  </form>
</div>
<%- include("partials/footer.ejs"); -%>
