<%- include("partials/header.ejs"); -%>
  <div class="mainContent">
      <a class="btn btn-primary btn-lg" href="/teacher">Teacher</a>
      <a class="btn btn-primary btn-lg" href="/student  ">Student</a>
</div>
<%- include("partials/footer.ejs"); -%>
