<%-include("partials/header.ejs"); -%>
  <a class="btn btn-primary btn-lg" href="/teacher/viewCourse">View Course</a>
  <a class="btn btn-primary btn-lg" href="/teacher/createCourse">Create Course</a>
  <a class="btn btn-primary btn-lg" href="/teacher/editCourse">Edit Course</a>
  <a class="btn btn-primary btn-lg" href="/teacher/deleteCourse">Delete Course</a>
<%-include("partials/footer.ejs");-%>
