<div class="text-center ">
  <h1 class="mt-4">HomePage</h1>
  <p class='lead mb-3'>Welcome <%= name %></p>
  <a href="users/logout" class="btn btn-danger">Logout</a>
  <a href="users/update" class="btn btn-primary">Update</a>
</div>
