body{
  overflow-x:hidden;
}
#slider{
  text-align: center;
}
.image-slider1{
  color: white;
  height: 500px;
  background-image: url("Images/slider-img-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.image-slider2{
  color: white;
  height: 500px;
  background-image: url("Images/slider-img-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-slider3{
  color: white;
  height: 500px;
  background-image: url("Images/slider-img-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.slider-text{
  position: relative;
  top: 300px;
}
#discover{
  text-align: center;
  height: 200px;
  width: 200px;
}
#query{
  text-align: center;
}
.query-image1{
  background-image: url("Images/query-img-1.png");
  background-size: cover;
  height: 350px;
  width: 100%;
}
.query-image2{
  background-image: url("Images/query-img-2.png");
  background-size: cover;
  height: 350px;
  width: 100%;
}
.query-text{
  position: relative;
  top: 120px;
  color: white;
}
#footer{
  padding: 3% 5%;
}
