*{
  font-family: 'Roboto', sans-serif;

}
.aside {
  background-color: #5a7ba1;
  color: white;
}
.cover {
  background-color: #003a75;
  color: white;
}
.h6 {
  font-weight: bolder;
}
.badgespan {
  display: inline-block;
  padding: 20px;
  margin: 20px;
}
.nextside {
  color: #5a7ba1;
  border: 2px solid blue;
  border-left-style: none;
  border-right-style: none;

}
