<button class="btn btn-primary" [disabled]="!serverActiveStatus" (click) = "onClickEvent()">Add server</button>
<h1> I'm in the servers component </h1>
<h2 [style]="testStyle"> Is this property binding working correctly</h2>

<!-- <input type="text" class="form-control" (input)="onInput($event)"> -->
<input type="text" class="form-control" [(ngModel)] = "serverName">
<!-- <h1>{{inputText}}</h1> -->
<h1 *ngIf="serverCreated; else serverCreation"> {{serverCreationStatus}} </h1>
<ng-template #serverCreation>
<p>No server was created</p>
</ng-template>
<!--
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<button class="btn btn-primary" (click) ='userName=""' [disabled] ="userName === ''" >Reset</button> -->
